.img-logi {
    background-image   : url('../img/mx-master-bottom-promo-creativity-desktop.webp');
    background-position: -17;
    background-repeat  : no-repeat;
}

.bg-logi {
    background-color: #02ead1;
}